<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/mystyle.css">
	</head>

	<body id="b01">

		<form method="post" enctype="application/json">
		<fieldset>

			<span>id:</span><br>
			<input type="text" name="id" style="width: 100px"><br><br>

			<span>title:</span><br>
			<input type="text" name="title"><br><br>

			<span>description:</span><br>
			<textarea name="description"></textarea><br><br>
			
			<span>done:</span>
			<input type="checkbox" name="done">

			<input type="submit" value="Submit">
			<input type="reset">

		</fieldset>
		</form> 

	</body>
</html>
