<!doctype html>
<html lang="en">
	<head>
		{% block head %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{% block styles %}
		<!-- Bootstrap CSS -->
		{{ bootstrap.load_css() }}
		{% endblock %}

		<title>Your page title</title>
		{% endblock %}
	</head>
	<body>
		<!-- Your page content -->
		<div class="jumbotron text-center">
			{% if name %}
				<h1>Hello, {{ name }}!</h1>
			{% else %}
				<h1>Hello, World!</h1>
			{% endif %}
			<p>Resize this responsive page to see the effect!</p> 
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h3>Column 1</h3>
					<p>Lorem ipsum dolor..</p>
				</div>
				<div class="col-sm-4">
					<h3>Column 2</h3>
					<p>Lorem ipsum dolor..</p>
				</div>
				<div class="col-sm-4">
					<h3>Column 3</h3> 
					<p>Lorem ipsum dolor..</p>
				</div>
			</div>
		</div>

		{% block content %}
		{% endblock %}

		{% block scripts %}
		<!-- Optional JavaScript -->
		{{ bootstrap.load_js() }}
		{% endblock %}
		
	</body>
</html>
